* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-flow: column;
	height: 100vh;

	.title {
		flex: 0.6;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column;
		
		background-color: pink;

		.words {

			display: flex;
			align-items: center;
			flex-direction: column;

			background-color: green;
			
			text-align: center;
			font-size: 4.5rem;

			span:nth-child(2) {
				margin-left: 18rem;
				/* color: red; */
			}
		}
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 60px;
	background-color: blue;
	display: flex;
	flex-flow: column;
	align-items: center;

	flex: 1;

	.start {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: red;
		text-align: center;
		font-size: 2em;
		border-radius: 10px;
		height: 100px;
		width: 200px;
		margin-bottom: 60px;

		cursor: pointer;
	}

	.ranking {
		display: flex;
		align-content: flex-end;
		justify-content: center;
		border-bottom: 15px;
		padding: 10px;

		background-color: aqua;
		height: 100%;

		ranking-player {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-direction: column;
			margin-right: 10px;
			background-color: pink;
			width: 100px;

			.name {
				
				flex: 0.1;
			}

			.container {

				&.name {
					flex: 0.1;

					.name {
						font-weight: bolder;
					}
				}

				&.bar {
					flex: 1;

					display: flex;
					align-items: flex-end;

					background-color: green;

					.bar {

						background-color: red;
						width: 60px;
						border-radius: 15px;
					}
				}
			
				&.rank {
					flex: 0.1;

					.rank {

						border-radius: 100%;
						aspect-ratio: 1 / 1;
						width: 2rem;
						background-color: yellow;
	
						min-height: 2rem;
					}					
				}
			}
		}
	}

	>.button {

		padding: 0.5rem 2rem;
		font-weight: bolder;
		font-size: 2rem;
		cursor: pointer;
		
		&.continue {
			background-color: aquamarine;
		}
	}

	.players {

		&.cards {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			row-gap: 1rem;
			column-gap: 1rem;
			padding: 1rem;

			background-color: aqua;

			.container {
				.add {
					aspect-ratio: 1 / 1;
					width: 2rem;

					font-size: 1.5rem;
					font-weight: bold;

					background-color: red;
					color: black;

					cursor: pointer;
				}
			}

			player-card {
				background-color: red;

				input {
					background-color: blueviolet;
					text-align: center;
				}

				.remove {
					text-align: center;
					cursor: pointer;
				}
			}

		}

	}
}